$bodyFs: 20;
$black: #272929;
$white: #FAFFFD;
$grey: #C4C4C4;
$accent: #76F3DD;
$font: "M PLUS 1p", Arial, sans-serif;
$fontTitle: "Red Hat Display", Arial, sans-serif;
$fontMainTitle: "Montserrat Alternates", Arial, sans-serif;