@import "../../../components/App/styles/general";

.section {
  @include margin($top: #{calculateVh(245)});

  .title {
    span {
      color: $accent;
      display: block;
    }
  }

  .text {
    @include margin($top: #{calculateVh(30)}, $right: 50);
  }

  .block {
    @include boxSize($min-height: 710);
    width: 100%;
    background-color: $accent;
    position: relative;

    &::before {
      @include pseudo;
      @include position(absolute, 20, -20);
      width: 100%;
      height: 100%;
      background-color: $grey;
    }
  }
}