@import "../../App/styles/general";

.wrapper {
  span {
    @include font(700, 24, $fontTitle, $white);
    @include margin($right: 10);
    cursor: pointer;

    &:nth-of-type(2) {
      position: relative;
      top: - calculateRem(2);
    }

    &.active {
      color: $accent;
    }
  }
}